.h1{
    background-color: var(--text-dark);
    color: var(--offWhite);
    font-size: 2.5rem;
    border-radius: 4px;
    text-align: center;
}

.button {
    background-color: var(--text-dark);
    color: var(--offWhite);
    font-size: 1.5rem;
    border-radius: 4px;
    text-align: center;
    height: 4rem;
}